:root {
  --white-font-color: #ffffff;
  --black-font-color: #000000;
  --light-green-color: #27bf3b;
  --dark-green-color: #176f22;
  --white-color: #ffffff;
  --black-color: #000000;
}

/* ------------------------ HEADER -------------------------- */

.header {
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  color: var(--black-font-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logoPannel {
  display: flex;
  flex-shrink: 1;
  width: fit-content;
  width: 10%;
  align-items: center;
  justify-content: center;
}

.header img {
  width: 30%;
  margin-left: 4%;
}

.pagePannel {
  display: flex;
  justify-content: center;
  width: 80%;
  .add-recipe {
    width: 200px;
  }
}

.header p {
  font-size: 18px;
  font-weight: bold;
  color: var(--black-font-color);
}

.loginPannel {
  display: flex;
  justify-content: space-evenly;
  margin-right: 8px;
  width: 15%;
  height: 50px;
  background-color: red;
}

.header button {
  border-radius: 15px;
  border: 2px solid var(--light-green-color);
  box-sizing: border-box;
  background-color: transparent;
  color: var(--black-font-color);
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  height: 3rem;
  padding-left: 5%;
  padding-right: 5%;
}

.header button:hover {
  background-color: var(--light-green-color);
  transform: translateY(-2px);
}

.header .inputForm {
  border-radius: 10px;
  border: 1px solid grey;
  width: auto;
  margin-right: 20px;
  width: 20%;
}

.header .searchIcon {
  width: 30px;
  height: 30px;
  padding-left: 0px;
  margin-left: 0px;
}

/* ------------------------ SEARCHBAR -------------------------- */
.search {
  width: 100%;
  height: 50%;

}
.searchbar {
  display: flex;
  flex-direction: column;
  background-image: url('assets/background2.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
}
.response {
  background-color: blue;
  width: 100%;
  margin: 10px;
}
.search-results {

}
.titleSearchbar {
  color: var(--white-font-color);
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.inputForm {
  border-radius: 10px;
  /* border: 1px solid var(--black-color); */
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 5px;
  /* width: 50%; */
}

.searchIcon {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}

.inputBar {
  flex-grow: 1;
  height: 100%;
  outline: none;
  /* padding: 16px; */
  padding-left: 8px;
  border: hidden;
  font-size: 16px;
}

.inputBar:focus {
  outline: none;
}

.searchButton {
  border-radius: 10px;
  border: 2px solid var(--light-green-color);
  box-sizing: border-box;
  background-color: var(--light-green-color);
  color: var(--black-font-color);
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  height: auto;
  padding: 10px;
}

.searchButton:hover {
  background-color: transparent;
}

/* ------------------------ CARROUSSEL --------------------------  */

.carrousselRecipe {
  margin-bottom: 40px;
}

/* ------------------------ TITLECATEGORY --------------------------  */

.titleCategory {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: 4%;
  padding: 20px 20px 0px 20px;
  font-weight: bold;
  font-size: 24px;
  color: var(--black-font-color);
}

/* ------------------------ RECIPECARD --------------------------  */

.card {
  position: relative;
  width: 400px;
  height: 220px;
  background: #f5f5f5;
  border-radius: 8px;
  color: #232323;
  padding: 16px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  margin: 10px 15px 10px 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  .picture-recipe-unit {
    width: 50%;
    height: 100%;
    border-radius: 8px 8px 0 0;
  }
}
.content-card {

}
.card-hidden {
  height: 70%;
  display: flex;
  transform: translateY(200%);
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
  margin-left: 10px;
  transition:
    transform 0.5s ease-in,
    opacity 0.3s ease-in;
  opacity: 0;
  .footer-card {
    bottom: 5px;
    right: 5px;
    position: absolute;
    font-style: italic;
    font-size: 0.9rem;
    font-weight: bolder;
  }
}

/*Hovers*/
.card:hover {
  transform: translate(-15px, -15px);
  border-color: #5bc0eb;
}

.card:hover .card-hidden {
  transform: translateY(0);
  opacity: 1;
}

.card:hover .title {
  transform: translateY(200%);
}

/*Text*/
.title {
  position: absolute;
  bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  transition: transform 0.25s ease-out;
}

.title-in {
  text-align: start;
  z-index: 4;
  font-weight: 700;
  font-size: 1.25rem;
}

.styles-module_slider__o0fqa {
  padding-top: 20px;
  margin: 0 5% 0 5%;
}

/*Button*/
.button {
  display: inline-flex;
  justify-content: center;
  padding: 8px;
  border-radius: 24px;
  font-weight: 600;
  background-color: var(--light-green-color);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--dark-green-color);
}

.recipe-image {
  width: 100%;
  height: auto;
  /* border-radius: 8px 8px 0 0; */
  object-fit: cover;
}

/* ------------------------ RECIPE --------------------------  */

.cards-container {
  display: grid;
  grid-template-columns: repeat(6, 31ch);
  margin: 0 5% 0 5%;
  gap: 20px;
  padding-top: 20px;
}

@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ------------------------ APP -------------------------- */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------ LOGIN / REGISTER -------------------------- */

.login-page,
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2ecc71;
}

.login-form,
.register-form {
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.login-form h2,
.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #27ae60;
  text-transform: uppercase;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #27ae60;
}

.input-group input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #27ae60;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.login-prompt {
  text-align: center;
  margin-top: 20px;
  color: #547e86;
}

.login-link {
  color: #3498db;
  cursor: pointer;
  text-decoration: underline;
}

.error-message {
    color: #c0392b;
    margin-bottom: 15px;
    text-align: center;

}
/* ------------------------ ADD_RECIPE_FORM -------------------------- */

.content-form {
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bahnschrift", sans-serif;
  form {
    background-color: rgba(233, 252, 233, 0.81);
    border-radius: 20px;
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    label {
      display: flex;
      align-items: center;
      width: 90%;
      justify-content: center;
      flex-direction: row;
    }
    .formName {
      text-align: center;
      width: 60%;
      margin: 4%;
      padding: 5px;
      font-size: 1.1em;
      border-radius: 5px;
      border: none;
    }
    .formTimes {
      margin: 3%;
      background-color: rgba(207, 253, 207, 0.81);
      padding: 2px 15px 15px;
      border-radius: 15px;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p  {
          margin-bottom: 5px;
        }
        input {
          width: 45%;
          padding: 4px;
          border-radius: 5px;
          border: none;
        }
      }
    }
    .formDescription {
      width: 70%;
      textarea {
        width: 100%;
        height: 100px;
        padding: 5px;
        font-family: "Segoe UI Emoji", sans-serif;
        border-radius: 5px;
        border: none;
        font-size: 1.02em;

      }
    }
    .formSteps {
      width: 70%;
      h3 {
        width: 100%;
        text-align: center;
      }
      .formStep {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 90%;
        .inputs {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          div {
            width: 100%;
            input {
              width: 70%;
              padding: 5px;
              font-size: 1.02em;
              font-family: "Segoe UI Emoji", sans-serif;
              border-radius: 5px;
              border: none;
              margin: 2px;
            }
          }
        }
      }
      button {
          width: 30%;
          padding: 10px;
          border: none;
          border-radius: 4px;
          background-color: #27ae60;
          color: white;
          cursor: pointer;
          font-size: 1.02em;
      }
    }
    .formIngredients {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3 {
        width: 100%;
        text-align: center;
      }
      .ingredientsParts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        .inputIngredients {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          font-family: "Segoe UI Emoji", sans-serif;
          padding: 5px;
          width: 33%;
          font-size: 1.02em;
          border: none;
          border-radius: 4px;
        }
        .responseSearch {
          cursor: pointer;
          width: 33%;
          h4 {
            text-align: start;
          }
          ul {
            list-style: none;
            text-align: start;
            width: 100%;
          }
        }
        .choosenIngredients {
          width: 33%;
          h4 {
            text-align: end;
          }
          ul {
            list-style: none;
            text-align: end;
            width: 60%;
          }
        }
      }
    }
    .formTypes {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      width: 77%;
      select {
        padding: 5px;
        font-size: 1.02em;
        font-family: "Segoe UI Emoji", sans-serif;
        border: none;
        border-radius: 4px;
      }
    }
    .formPicture {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      input {

      }
    }
  }
  .submitRecipe {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #27ae60;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.back-form {
  width: 100vw;
  position: fixed;
  height: 100vh;
  margin: 0;
  background-image: url('./assets/back-form.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
h3, h4 {
  color: rgba(0, 24, 10, 0.9);
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}
